<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.netchus.mapper.EnvironmentMapper">


<select id="getList" resultType="hashMap">
 	<![CDATA[
	SELECT  id, pm1, pm2_5, pm10, o3, no2, co, so2, env_type, DATE_FORMAT(data_time, '%Y.%m.%d %H:%i:%S') AS data_time, 
	DATE_FORMAT(reg_date, '%Y.%m.%d %H:%i:%S') AS reg_date
	FROM Environment
	ORDER BY reg_date DESC
	LIMIT 20;
	]]>
</select>

<!-- 최근 데이터 1개 조회 -->
<select id="get" resultType="hashMap">
	SELECT id, pm1, pm2_5, pm10, o3, no2, co, so2, env_type, data_time, reg_date
	FROM Environment
	WHERE env_type = 'AirKorea'
	ORDER BY reg_date DESC
	LIMIT 1

</select>

<!-- 평균 데이터 조회  -->
<select id="getAVG" resultType="hashMap">
	SELECT AVG(pm1) AS pm1, AVG(pm2_5) AS pm2_5, AVG(pm10) AS pm10, AVG(o3) AS o3, AVG(no2) AS no2, AVG(co) AS co, AVG(so2) AS so2
	FROM Environment
</select>


<select id="getSensorList" resultType="hashMap">
 	<![CDATA[
		SELECT id, pm1, pm2_5, pm10
		FROM Environment
		ORDER BY reg_date DESC
		LIMIT 20
	]]>
</select>

<insert id="insertSensor" parameterType="hashMap">
	INSERT INTO Environment 
		(pm1, pm2_5, pm10, o3, no2, co, so2, env_type, sid, data_time, reg_date)
	VALUES (
		#{pm1}, #{pm25Value}, #{pm10Value}, #{o3Value}, #{no2Value}, #{coValue}, #{so2Value}, 'AirKorea', #{sid}, #{dataTime}, now()
		)
</insert>



	
</mapper>	