@media (max-width: 992px){

html{
 height:100%;

}
body{
 height:100%;
 overflow-y: scroll;
 overflow-x: hidden;
 
}
body.modal-open{
overflow-y: scroll!important;
 padding-right:0!important
}
.wrap{
width: 100%;
 min-height: 100%;
 overflow: hidden;

}
.header{
  position:fixed;
 width: 100%;
 z-index: 101;
 border-bottom: 1px solid #ccc;
 top:0;

}
.header h1{
 margin-top: 5px;

}
	.header h1 img{
 height: 15px;

}
.header_wrap{
 background-color: #fff;

}


.bars-sitemap{
 display: inline-block;
 width: 24px;
 height: 22px;
 position: relative;
 margin-top: 17px;
 cursor: pointer;

}
.bars-sitemap span{
 display:block;
 width: 24px;
 height: 4px;
 background-color: #646871;
 position: absolute;

} 
.bars-sitemap span.bar-1{
 top:0;
 transform: rotate(0deg) translate3d( 0, 0, 0 );

}
.bars-sitemap span.bar-2{
 top:9px;
 width: 19px;
 right:0;

}
.bars-sitemap span.bar-3{
 top:18px;
 transform: rotate(0deg) translate3d( 0, 0, 0 );

}
.bars-sitemap.active{
 transform: translate3d( 8px, 0, 0 );
transition: transform .3s;
 padding-left: 10px;

}
.bars-sitemap.active span.bar-2{
 display: none;

}
.bars-sitemap.active span.bar-1{
 transform: rotate(45deg) translate3d( 0px, 13px, 0 );
transition: transform .3s;

}
.bars-sitemap.active span.bar-3{
 transform: rotate(-45deg) translate3d( 0px, -13px, 0 );
transition: transform .3s;

}


 
.total-bg-black{
width:100%;
 height: 100%;
 position: fixed;
 z-index: 102;
 background-color:rgba(0,0,0,.7);
 display: none;

}
.total-bg-black.navOn{
z-index: 100;

}

nav > .gnb-depth-1{
 margin-bottom: 0;
 height: 80px;

}
nav > .gnb-depth-1 li{
 width: 17%;
 display: inline-block;
 text-align: center;
 overflow: hidden;
 height: 80px;
 position: relative;

}
nav > .gnb-depth-1 li div:first-child{
 position: absolute;
 left: 0;
 right:0;
 height: 100%;
 z-index: 100;
 cursor: pointer;

}
nav > .gnb-depth-1 li a{
 display: block;
 font-size: 20px;
 font-family: 'Noto Sans KR', sans-serif;
 color:#646871;
 text-decoration: none;
 cursor: pointer
}
nav > .gnb-depth-1 li a span.txt{
 line-height: 80px;
 display: block;

}
nav > .gnb-depth-1 li span.line{
 width:70%;
 height: 4px;
 display: inline-block;
 background-color: #ef2a24;
 bottom:0;
 transform: translate3d( 0, -12px, 0 );
 z-index: 90;

}
nav > .gnb-depth-1 li.active span.line{
 width:70%;
 height: 4px;
 display: inline-block;
 background-color: #646871;
 bottom:0;
 transform: translate3d( 0, -16px, 0 );
 z-index: 90;

}
nav > .gnb-depth-1 li.active a{
 font-weight: 700;

}
nav > .gnb-depth-1 li.on a {
 color:#ef2a24;
 font-weight: 700;

}
nav > .gnb-depth-1 li.on span.line{
 width:70%;
 height: 4px;
 display: inline-block;
 background-color: #ef2a24;
 bottom:0;
 transform: translate3d( 0, -16px, 0 );
transition: transform .3s;
 z-index: 90;

}
.header:hover nav > .gnb-depth-1 li.active a{
 font-weight: normal;

}
.header:hover nav > .gnb-depth-1 li.active span.line{
 width:70%;
 height: 4px;
 display: inline-block;
 background-color: #646871;
 bottom:0;
 transform: translate3d( 0, 0, 0 );
 z-index: 90;

}
.header:hover nav > .gnb-depth-1 li.active.on span.line{
 width:70%;
 height: 4px;
 display: inline-block;
 background-color: #ef2a24;
 bottom:0;
 transform: translate3d( 0, -16px, 0 );
 z-index: 90;

}


nav > .gnb-depth-1 li{
 width: 17%;
 display: inline-block;
 text-align: center;
 overflow: hidden;
 height: 80px;
 position: relative;

}
nav > .gnb-depth-1 li div:first-child{
 position: absolute;
 left: 0;
 right:0;
 height: 100%;
 z-index: 100;
 cursor: pointer;

}
nav > .gnb-depth-1 li a{
 display: block;
 font-size: 20px;
 font-family: 'Noto Sans KR', sans-serif;
 color:#646871;
 text-decoration: none;
 cursor: pointer
}
nav > .gnb-depth-1 li a span.txt{
 line-height: 80px;
 display: block;

}


.sub{
 width: 100%;
 top:81px;
 position: fixed;
 left: 0;
 right:0;
 background-color: #fff;
 background: url(../../../img/layout/menu/bg.jpg) #fff no-repeat left bottom;

}
.sub > .gnb-depth-2{
 width: 1000px;
 padding-top: 50px;
 display: none;
 margin: 0 auto;

}
.sub > .gnb-depth-2 > .row > div{
 height: 180px;
 text-align: left;

}
.sub > .gnb-depth-2 > .row > div:nth-child(1){
 border-bottom:1px solid #eee;
 margin-bottom: 20px;

}
.sub > .gnb-depth-2 > .row > div:nth-child(2){
 border-bottom:1px solid #eee;
 margin-bottom: 20px;

}
.sub > .gnb-depth-2 > .row > div:nth-child(3){
 border-bottom:1px solid #eee;
 margin-bottom: 20px;

}
.sub > .gnb-depth-2 > .row > div:nth-child(4){
 border-bottom:1px solid #eee;
 margin-bottom: 20px;

}
.sub > .gnb-depth-2 > .row > div a{
display: block;
 text-decoration: none;

}
.sub > .gnb-depth-2 > .row > div h3{
 font-size: 18px;
 color:#646871;
 font-family: 'Noto Sans KR', sans-serif;
 padding: 0 10px;

}
.sub > .gnb-depth-2 > .row > div p{
 font-size: 12px;
 color:#999;
 padding: 0 10px;

}

.header.active {
height:51px;

}
.header.active .header_wrap{
transform: translate3d( 0, -40px, 0 );
transition: transform .3s;

}
.header.active h1{
 margin-top: 41px;

}
.header.active h1 img{
 height:15px;

}
.header.active nav > .gnb-depth-1{
 height: 50px;
 margin-top: 25px;

}
.header.active nav > .gnb-depth-1 li{
 height:50px;

}
.header.active nav > .gnb-depth-1 a{
 font-size: 18px;

}
.header.active .bars-sitemap{
 margin-top: 55px;

}
.header.active .sub{
top:51px;

}
.header.active .sub-line{
 top:50px;

}


header > .sub-line{
 background-color:  #ef2a24;
 height: 1px;
 width: 100%;
 position: absolute;
 left:0;
 right:0;
 top:80px;
 display: none;

}
header > .sub-line.on{
 display: block;

}

.sitemap {
width:100%;
 min-width: 300px;
 height: 100%;
 position: fixed;
 z-index: 103;
 right:0;
 transform: translate3d( 1000px, 0, 0 );
 background: url(../../../img/layout/menu/bg-sitemap.jpg) right bottom no-repeat #fff;

}
.sitemap.active{
 transform: translate3d( 0, 0, 0 );
transition: transform .3s;

}
.site-header{
 height:50px;
 padding: 0 20px;
 margin-bottom: 0px;

}
.site-body{
 padding: 0 30px;

}
.site-body ul li{
 line-height: 20px;
 height: auto;
 border-bottom: 1px solid #eee;
 padding-bottom: 5px;
 padding-top: 5px;
	margin-bottom: 0;

}
.site-body ul li:last-child{
 border-bottom: 0;

}
.site-body ul li a{
 display: block;
 width: 100%;
 height: 100%;
 text-decoration: none;
 vertical-align: middle;
 color:#646871;

}
.site-body ul li strong{
font-size:16px;
 width: 60px;
 margin-right: 5px;
 display: inline-block;
 vertical-align: top;
 display: block;
 margin-bottom: 5px;
 text-align: left;
 line-height: 30px;

}
.site-body ul li strong span{
display: none;

}
.site-body ul li span{
 font-size: 15px;
 display: inline-block;
 margin: 0 5px 0 0;
 vertical-align: top;
 line-height: 28px
}
.site-body ul li a:hover{
 color:#ef2a24;

}

.footer{
 background-color: #646871;
 width: 100%;
 padding: 25px 0;
 opacity: 1
}
.footer img{
 margin-top: 3px;
 width: auto;
 height: 15px;

}
.footer blockquote {
 padding:0 5px!important;
 border-left: 0;
 margin-bottom: 0!important;
 display: block
}
.footer blockquote p{
 font-size: 10px;
 margin-bottom: 0!important;
 font-family: 'Noto Sans KR', sans-serif;
 font-weight: 200;
 color:#fff;
 letter-spacing:0px;

}
.footer blockquote p strong{
display: block;
 width: 25px;
 font-weight: 500;

}
.footer blockquote p:last-child{
 margin-top: 10px;
 color:#eee;
 font-size: 10px;
 font-family: 'NanumSquare', sans-serif !important;
 
}
	.footer blockquote p:last-child strong{
		display: inline-block
	}
.footer blockquote p i{
 margin-right: 2px;

}
.footer select{
 border: 0;
 border-bottom: 2px solid #646871;
/* border-top: 1px solid #646871;
*/ padding: 5px;
font-family: 'Noto Sans KR', sans-serif;
 font-weight: 700;

}
.footer .dropdown .btn.foot{
 border-bottom: 2px solid #fff;
 display: block;
 color:#fff;
 width: 130px;
 border-radius: 0;
 text-align: left;
 padding: 5px 10px;
 font-size: 10px;
 line-height: 14px;

}
.footer .dropdown .btn.foot span{
 float: right;
  display: block;
  margin-top: 5px;

}
.footer .dropdown {
display: inline-block;
 margin-left: 10px;

}
.footer div.col-md-4.text-right{
text-align: left!important;
 padding-left: 20px;
 padding-top: 10px;

}


.load{
 position: fixed;
 z-index: 10000;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background:url(../../../img/layout/load.gif) rgba(255,255,255,1) 50% 50% no-repeat
}
.top{
 position: fixed;
 right:0;
 bottom:0px;
	z-index: 99;
	opacity: .7;

}
	
.dropdown-menu>li>a{
 padding: 3px 10px;

}
	.dropdown-menu{
min-width: 130px;

}

}
