.modal-content .modal-body p{margin-bottom:4px!important; position:relative}
.modal-content .modal-body input[type=text],
.modal-content .modal-body input[type=password],
.modal-content .modal-body input[type=email],
.modal-content .modal-body input[type=date],
.modal-content .modal-body input[type=file],
.modal-content .modal-body select,
.modal-content .modal-body textarea{
	width:100%;
	height:36px;
	border:0;
	box-shadow:inset 0 0px 1px rgba(255,255,255,.1);
	border:1px solid #ddd;
	padding-left:10px;
	background-color:rgba(255,255,255,.02);
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:1px solid rgba(255,255,255,.05);
	font-family:dotum;
	font-size:12px;
	color:#fff!important;
}
.modal-content i.xi-calendar-add{ 
	position:absolute;
	right:10px;
	font-size:18px;
	top:10px;
	color:#fff;
}
.modal-content{background-color:#24272f!important;}
.modal-content .modal-title{color:#fff;}
.modal-content .modal-header{border-bottom:rgba(255,255,255,.1) 1px solid !important}
.modal-content .modal-footer{border-top:rgba(255,255,255,.1) 1px solid !important}
.modal-content button.close span{color:#fff;}


.modal-footer p{
	font-size:11px;
	color:rgba(255,255,255,.5);
	text-align:left;
	font-family:"dotum"
}