
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.nt {font-family: 'Noto Sans KR', sans-serif;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
	
}

input:focus {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{-webkit-box-sizing:border-box; -moz-box-size:border-box; box-sizing:border-box;}
body {
   line-height: 1;
   font-family: "noto_l", sans-serif;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
th, h1, h2, h3, h4, h5, h6, th {font-weight:normal;}
fieldset legend {display:none;}
ul:after {clear: both;display: block;content: ''}
dl:after {clear: both;display: block;content: ''}
caption {display:none;}

/* text link */
a, a:link, a:active, a:hover {text-decoration:none;}
input, select {vertical-align:middle;}
h1,h2,h3,h4,h5,h6,p,span {word-break:break-all;}
button {border:0; padding:0; margin:0; cursor:pointer; background-color:#fff;}

input[type=text],select,textarea {
	border:0;
	border:1px solid #bbb;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	transition: border-color 0.3s;
	padding-left:10px;
}
select {
/*	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;*/
}
select:focus, input[type="text"]:focus,textarea:focus {
	outline:none;
    border-color: #ff8601 !important;
}
option {font-family: "noto_l", sans-serif;}

::selection {
  background: #ff8601;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #ff8601;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #ff8601;
  color: #FFF;
}


.normal     { font-weight: 400 }
.bold       { font-weight: 700 }
.bolder     { font-weight: 800 }
.light      { font-weight: 300 }
.hidden-md{display: none;}



